.card__image {
  width: 413px;
  margin-bottom: 12px;
  height: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px; /* optional, for smoother look */
}

.card__like-button {
  background-image: url("../images/spots-images/Like-Icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.card__like-button:hover {
  opacity: 1;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 413px;
  margin-top: 8px;
}

.card__title {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #212121;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 353px;
}

@media screen and (max-width: 627px) {
  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__content {
    max-width: 288px;
  }

  .card__title{
   max-width: 235px;
  }
}
