.cards {
  background-color: #fcf5e5;
  display: flex;
  justify-content: center; /* centers the grid horizontally */
  width: 100%;
  padding: 20 0 40;
}

.cards__list {
  list-style: none;
  padding: 0;
  margin: 0 auto; /* centers within .cards */
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 40px 20px;
  justify-items: center;
  max-width: 1280px;
}

@media screen and (max-width: 900px) {
  .cards__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
  }
}
